body {
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #da291c;
  padding: 20px;
  color: white;
  border-bottom: 5px solid #000000;
}

.player-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}